body {
  background-color: lightblue;
  background-image: url('https://w0.peakpx.com/wallpaper/402/841/HD-wallpaper-dragon-invasion-mountain-fantasy-flags-invasion-dragon-castle.jpg');
  /* Define como a imagem deve ser exibida (pode ajustar conforme necessário) */
  background-size: cover;

  /* Outras propriedades para ajustar o posicionamento da imagem, se necessário */
  background-position: center;
  background-repeat: no-repeat;

}

#text {
  background-color: black;
  color: white;
  padding: 20px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}